---
layout: default
---

<div class="container">
    <div class="unorderedlist">
        <ul class="posts" style="list-style-type:none;">
            
            
            
                    {%- if site.posts.size > 0 -%}
            
            {% for post in site.posts limit:10 %}
            <li class="post-container">
            <li>
                <a href="{{  post.url | relative_url }}">
                    <h3>{{ post.title}}</h3>
                </a>
                <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
                <p class="categories">
                    {{ post.categories | join: ', ' }}
                </p>
                <p id="para">
                    {{ post.content | strip_html | truncatewords: 35 }}
                </p>
            </li>
            {% endfor %}
            {%- endif -%}

            {%- if site.ml.size > 0 -%}
            
            {% for ml in site.ml reversed limit:10 %}
            <li class="post-container">
            <li>
                <a href="{{ ml.url | prepend: site.baseurl }}">
                    <h3>{{ ml.name}}</h3>
                </a>
                <span class="date">{{ ml.date | date: "%b %-d, %Y" }}</span>
                <p class="categories">
                    {{ ml.categories | join: ', ' }}
                </p>
                <p id="para">
                    {{ ml.content | markdownify | strip_html | truncatewords: 35  }}
                </p>
            </li>
            {% endfor %}
            {%- endif -%}

         

            {%- if site.nlp.size > 0 -%}
            
            {% for nlp in site.nlp reversed limit:10 %}
            <li class="post-container">
            <li>
                <a href="{{ nlp.url | prepend: site.baseurl }}">
                    <h3>{{ nlp.name}}</h3>
                </a>
                <span class="date">{{ nlp.date | date: "%b %-d, %Y" }}</span>
                <p class="categories">
                    {{ nlp.categories | join: ', ' }}
                </p>
                <p id="para">
                    {{ nlp.content | markdownify | strip_html | truncatewords: 35  }}
                </p>
            </li>
            {% endfor %}
            {%- endif -%}

            {%- if site.python_projects.size > 0 -%}
            
            {% for python_projects in site.python_projects reversed limit:10 %}
            <li class="post-container">
            <li>
                <a href="{{ python_projects.url | relative_url }}">
                    <h3>{{ python_projects.name}}</h3>
                </a>
                <span class="date">{{ python_projects.date | date: "%b %-d, %Y" }}</span>
                <p class="categories">
                    {{ python_projects.categories | join: ', ' }}
                </p>
                <p id="para">
                    {{ python_projects.content | markdownify | strip_html | truncatewords: 35  }}
                </p>
            </li>
            {% endfor %}
            {%- endif -%}


 
            
          



        </ul>
    </div>
    <br/>
    <p class="rss-subscribe">subscribe <a href="{{ site.baseurl }}/feed.xml">via RSS</a></p>
</div>
